/*  RESET Y FUENTES  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'ChaletComprime', Arial, sans-serif;
}

@font-face {
  font-family: 'Pricedown';
  src: url('/fonts/pricedown.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*  BODY Y CONTAINER  */
body {
  width: 100vw;
  min-height: 100svh;
  overflow-x: hidden;
  overflow: hidden;
}

body.menu-open {
  overflow: hidden !important;
  height: 100vh;
}

.container {
  min-height: 100svh;
  position: relative;
  background: linear-gradient(223.17deg,
      rgb(28, 24, 41) 0%,
      rgb(27, 24, 40) 8.61%,
      rgb(25, 23, 36) 17.21%,
      rgb(22, 21, 32) 25.82%,
      rgb(20, 19, 28) 34.42%,
      rgb(18, 18, 24) 43.03%,
      rgb(17, 17, 23) 51.63%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 1;
  pointer-events: none;
}


