* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'ChaletComprime', Arial, sans-serif;

}

@font-face {
  font-family: 'Pricedown';
  src: url('/fonts/pricedown.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body {
  width: 100vw;
  min-height: 100svh;
  overflow-x: hidden;
  overflow: hidden; /* prevent horizontal scrolling initially */
}

.container {
  min-height: 100svh;
  position: relative;
  background: linear-gradient(
    223.17deg,
    rgb(28, 24, 41) 0%,
    rgb(27, 24, 40) 8.61%,
    rgb(25, 23, 36) 17.21%,
    rgb(22, 21, 32) 25.82%,
    rgb(20, 19, 28) 34.42%,
    rgb(18, 18, 24) 43.03%,
    rgb(17, 17, 23) 51.63%
  );
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 1;
  pointer-events: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vw;
  z-index: 1000;
  background: transparent;
}


.rockstar-logo {
  width: 32px;
  height: auto;
  cursor: pointer;
}

.rockstar-logo:hover {
  filter: brightness(1.4) sepia(1) hue-rotate(0deg) saturate(4);
  transition: filter 0.3s ease;
}


.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 17px;
  cursor: pointer;
}
.menu-btn:hover {
  filter: brightness(1.4) sepia(1) hue-rotate(0deg) saturate(4);
  transition: filter 0.3s ease;
}

.menu-line {
  width: 100%;
  height: 6px;
  background: white;
  transition: all 0.3s ease;
}

/* Estilos del menú */
.menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999 !important;
  background: rgba(18, 18, 18, 0.878);
}
.menu-item:hover {
  color: #fff9cb !important;
}
.menu-container.active {
  display: flex;
  background: linear-gradient(to bottom, #070707, #1a1722, #251d1d);

}

.menu-left-side {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.menu-background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-right-side {
  width: 50%;
  padding: 40px;
  color: white;
  display: flex;
  flex-direction: column;
    z-index: 9999 !important;

  
}

.menu-top-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
 
}

.menu-nav-tabs {
  display: flex;
  gap: 10px;
  
}

.menu-item {
  cursor: pointer;
  font-size: 0.9rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: 700;
  transition: color 0.3s ease;
  padding: 1rem 15px;
  color: white;
}

/* Hover normal en todos los ítems que NO están activos */
.menu-item:hover:not(.active) {
  color: #fff9cb !important;
}


.menu-item.active {
  background: white;
  color: black !important;
  padding: 15px 26px;
  border-radius: 30px;
  font-size: 0.9rem;
  font-weight: 700;
  
}
.character.active {
  color: #fff9cb;
}

.menu-close-btn {
  width: 45px;
  height: 45px;
  background-color: #1a1722; /* Fondo oscuro personalizado */
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  border: 1px solid rgba(233, 233, 233, 0.088); /* Borde blanco opaco */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.04);
  transition: all 0.3s ease;
}

.menu-close-btn:hover {
  background-color: #221d2b;
  box-shadow: 0 0 14px rgba(255, 255, 255, 0.1);
}

/* Líneas de la X */
.menu-close-line {
  position: absolute;
  width: 16px !important; /* Puedes agrandarla aquí */
  height: 2px;
  background-color: white;
  transition: transform 0.3s ease;
}

body.menu-open {
  overflow: hidden !important;
  height: 100vh;
}
.menu-close-line:nth-child(1) {
  transform: rotate(45deg);
}

.menu-close-line:nth-child(2) {
  transform: rotate(-45deg);
}


.menu-btn .menu-line {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Mejorar la "X" del menú */
.menu-btn.active .menu-line:nth-child(1),
.menu-btn.active .menu-line:nth-child(2) {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-btn.active .menu-line:nth-child(1) {
  transform: rotate(45deg) translateY(5px);
}

.menu-btn.active .menu-line:nth-child(2) {
  transform: rotate(-45deg) translateY(-5px);
}


.characters-row {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.3;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin-top: 20px;
}

.characters-list .character {
  font-size: 2.6rem; /* Aumenta el tamaño para que coincida */
  font-weight: 780; /* Más gruesa */
  line-height: 0.9;
  letter-spacing: -3px;
  color: white;
  transition: color 0.3s ease;
}

.characters-list .character::before {
  content: '';
  display: none;
  position: absolute;
  left: 0;
  top: 0.6em;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #ffb0c4;
  border-radius: 50%;
  opacity: 0.6;
  transition: opacity 0.3s;
}


.characters-list .character:hover::before,
.characters-list .character.active::before {
  opacity: 1;
  transform: scale(1.2);
}

.character:hover {
  color: #fff9cb;
}

.characters-list {
  list-style: none;
}



.menu-btn.active .menu-line:nth-child(1) {
  transform: rotate(45deg) translateY(6px);
}

.menu-btn.active .menu-line:nth-child(2) {
  transform: rotate(-45deg) translateY(-6px);
}


.menu-close-line {
  width: 100%;
  height: 3px;
  background: white;
  position: absolute;
  top: 50%;
}

.menu-close-line:nth-child(1) {
  transform: rotate(45deg);
}

.menu-close-line:nth-child(2) {
  transform: rotate(-45deg);
}

.menu-content {
  margin-top: 20px;
}

.menu-characters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.character {
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  position: relative;

}
.vi-logo-animated.clicked-effect {
  filter: brightness(1.4) sepia(1) hue-rotate(-40deg) saturate(2);
}

/* Estilos del logo VI y tráiler */
.vi-logo-animated {
  width: 40vw;
  max-width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}


.vi-logo-animated:hover {
  filter: brightness(1.4) sepia(1) hue-rotate(-40deg) saturate(2);
  transition: filter 0.3s ease;
}

.trailer-button-container {
  position: absolute;
  bottom: 20px; /* Mantiene la distancia desde el borde inferior */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Ajusta para centrar perfectamente */
  z-index: 2;
  padding: 6%;
  transition: opacity 0.5s ease;
}
.trailer-button-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.trailer-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.trailer-svg-container {
  display: flex;
  align-items: center;
  gap: 10px;

}

.trailer-svg-image {
  width: 100px;
  height: auto;
  

}

.trailer-text {
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -67%);
    text-transform: uppercase;
    line-height: 100%;
    white-space: nowrap;
    font-family: "GTAFont", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: clamp(0.6rem, 3vw, 0.7rem);
    color: white;
    letter-spacing: .3em;
}



/* Overlay de carga */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

@media (max-width: 768px) {
  .trailer-button-container {
    bottom: 10px; /* Menor margen en móviles */
  }
  .trailer-svg-image {
    width: 40px; /* Reduce el tamaño del logo en móviles */
  }
  .trailer-text {
    font-size: 0.9rem; /* Reduce el tamaño del texto */
  }
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid white;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Resto de los estilos (sin cambios) */
.hero-main-container {
  width: 100%;
  height: 100vh;
  position: relative;
  transform: scale(1.25);
  background-image: url("/public/logo_white.svg");
  background-size: 1000vh;
  background-position: 50% 21.7%;
  background-repeat: no-repeat;
  background-origin: content-box;
  padding-bottom: 200px;
}

.hero-main-image {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  object-fit: cover;
}

.hero-main-logo {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: 1;
  object-fit: cover;
}

.hero-text-logo-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: -1;
  object-fit: cover;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero-text-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("/public/gta_logo_purple.webp");
  background-repeat: no-repeat;
  background-position: 50% 21.7%;
  background-size: 28vh;
  background-origin: content-box;
  padding-bottom: 200px;
  height: 100vh;
  position: absolute;
  inset: 0;
}

.hero-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10vh; /* Ajusta según necesidad */
  transform: translateY(10vh); /* Ajusta el valor según necesidad */

}

.scroll-indicator {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 34px;
  height: 14px;
  z-index: 10;
}

.scroll-indicator svg {
  color: #ffb0c4;
  width: 100%;
  height: 100%;
}

.hero-text {
  color: #ffb0c4;
  text-align: center;
  text-transform: uppercase;
  background-image: radial-gradient(circle at 50% 65.397vh, rgb(255, 212, 129) 0vh, rgb(237, 69, 109) 50vh, rgb(123, 34, 102) 90vh, rgba(32, 31, 66, 0) 123.501vh);
  -webkit-text-fill-color: transparent;
  font-size: clamp(2rem, 8vw, 8rem) ;
  background-clip: text;
  width: 100%;
  line-height: 0.9;
  margin-top: 25%;
}

@media (min-width: 1024px) {
  .hero-text {
    font-size: 8rem;
  }
}

/* Estilos existentes se mantienen */
.hero-2-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  opacity: 0;
  object-fit: cover;
  background-image: radial-gradient(
    circle at 50% 200vh,
    rgba(255, 214, 135, 0) 0,
    rgba(157, 47, 106, 0.5) 90vh,
    rgba(157, 47, 106, 0.8) 120vh,
    rgba(32, 31, 66, 0) 150vh
  );
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  background-clip: text;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 0 5vw;
}

.hero-2-container p {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-stretch: expanded;
  font-size: 2.1rem !important;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.04em;
}

.hero-2-container h3 {
  font-size: clamp(1.2rem, 4vw, 2.5rem) !important;
  line-height: 1.2;
}

@media (min-width: 1024px) {
  .hero-2-container {
    margin: 0 auto;
    max-width: 70%;
    padding: 0;
  }


  .scroll-indicator {
    bottom: 30px;
  }


  .hero-2-container p {
    max-width: 100%;
    font-size: 2rem;
  }

  .hero-2-container h3 {
    font-size: 3.5rem;
  }
}

.console-logos {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem; /* Espacio entre texto y logos */
  opacity: 0; /* Inicialmente ocultos */
  transition: opacity 0.5s ease;
  color: gray;
  text-align: center;

}

.console-logos svg {
  width: 100px;
  height: auto;
  fill: #ffb0c4;
}

@media (min-width: 1024px) {
  .console-logos svg {
    width: 170px;
  }
}

.hero-3-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1; /* Inicialmente visible */
  visibility: hidden; /* Evita interacción hasta que sea visible */
  z-index: 3; /* Encima de hero-2-container */
}

.hero-3-image {
  width: 100vw; /* Ocupa todo el ancho */
  height: 100vh; /* Ocupa toda la altura */
  object-fit: cover; /* Cubre el contenedor manteniendo proporción */
  opacity: 0; /* Inicialmente oculta */
  filter: blur(20px); /* Desenfoque inicial */
  transform: scale(1); /* Escala inicial */
  transition: opacity 1.5s ease, filter 1.5s ease, transform 1.5s ease; /* Suaviza los cambios */
  mask-image: radial-gradient(circle at 50% 145.835%, rgb(0, 0, 0) 36.11%, rgba(0, 0, 0, 0) 68.055%);

}


/* === RESPONSIVE GENERAL === */
@media (max-width: 768px) {
  .menu-nav-tabs,
  .menu-top-navigation {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-main-container {
    background-size: cover;
    background-position: center;
  }

  .hero-text-logo {
    background-size: 40vw;
    background-position: center;
  }

  .hero-text-content {
    margin-top: 0;
    transform: none;
    padding: 4vw;
  }

  .characters-list .character {
    font-size: clamp(1rem, 6vw, 2.2rem);
  }

  .character {
    font-size: 1.2rem;
  }
}
