* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Pricedown', 'Arial Black', sans-serif;
}

@font-face {
  font-family: 'Pricedown';
  src: url('/fonts/pricedown.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body {
  width: 100vw;
  min-height: 100svh;
  overflow-x: hidden;
  overflow: hidden; /* prevent horizontal scrolling initially */
}

.container {
  min-height: 100svh;
  position: relative;
  background: linear-gradient(
    223.17deg,
    rgb(28, 24, 41) 0%,
    rgb(27, 24, 40) 8.61%,
    rgb(25, 23, 36) 17.21%,
    rgb(22, 21, 32) 25.82%,
    rgb(20, 19, 28) 34.42%,
    rgb(18, 18, 24) 43.03%,
    rgb(17, 17, 23) 51.63%
  );
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 1;
  pointer-events: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px; /* Ajustado para un padding más estándar */
  z-index: 1000;
  background: transparent;
}

.rockstar-logo {
  width: 33px; /* Aumentado para mejor visibilidad */
  height: auto;
}

.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 17px;
  cursor: pointer;
}

.menu-line {
  width: 100%;
  height: 6px;
  background: white;
  transition: all 0.3s ease;
}

/* Estilos del menú */
.menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: black;
}
.menu-item:hover {
  color: #fff9cb; /* Amarillo */
}
.menu-container.active {
  display: flex;
}

.menu-left-side {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.menu-background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-right-side {
  width: 50%;
  padding: 40px;
  color: white;
  display: flex;
  flex-direction: column;
}

.menu-top-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.menu-nav-tabs {
  display: flex;
  gap: 10px;
}

.menu-item {
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition : color 0.3s ease;
  padding: 0.5rem 0;
}

.menu-item.active {
color: #fff9cb; 
  border-bottom: 2px solid #fff9cb;
}

.character.active {
  color: #fff9cb;
}
.menu-close-btn {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.menu-close-line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  transform-origin: center;
}

.menu-close-line:nth-child(1) {
  transform: translateY(-50%) rotate(45deg);
}

.menu-close-line:nth-child(2) {
  transform: translateY(-50%) rotate(-45deg);
}


.characters-row {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.3;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin-top: 20px;
}

.characters-list .character{
  margin-bottom: 1rem;
  font-size: 2rem; /* tamaño que quieras */
}

.characters-list .character::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.6em; /* centra verticalmente */
  width: 0.5rem;
  height: 0.5rem;
  background-color: #ffb0c4; /* rosa GTA */
  border-radius: 50%;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.characters-list .character:hover::before,
.characters-list .character.active::before {
  opacity: 1;
  transform: scale(1.2);
}

.character:hover {
  color: #fff9cb;
}

.characters-list {
  list-style: none;
}

/* Estilos para el botón de cerrar */
.menu-close-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
}

.menu-close-line {
  width: 100%;
  height: 3px;
  background: white;
  position: absolute;
  top: 50%;
}

.menu-close-line:nth-child(1) {
  transform: rotate(45deg);
}

.menu-close-line:nth-child(2) {
  transform: rotate(-45deg);
}

.menu-content {
  margin-top: 20px;
}

.menu-characters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.character {
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.5rem;

}
/* Estilos del logo VI y tráiler */
.vi-logo-animated {
  width: 200px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.trailer-button-container {
  position: absolute;
  bottom: 20px; /* Mantiene la distancia desde el borde inferior */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Ajusta para centrar perfectamente */
  z-index: 2;
  padding: 6rem;
  transition: opacity 0.5s ease;
}
.trailer-button-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.trailer-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.trailer-svg-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.trailer-svg-image {
  width: 100px;
  height: auto;
}

.trailer-text {
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -67%);
    text-transform: uppercase;
    line-height: 100%;
    white-space: nowrap;
    font-family: "GTAFont", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 0.7rem;
    color: white;
    letter-spacing: .3em;
}

/* Overlay de carga */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

@media (max-width: 768px) {
  .trailer-button-container {
    bottom: 10px; /* Menor margen en móviles */
  }
  .trailer-svg-image {
    width: 40px; /* Reduce el tamaño del logo en móviles */
  }
  .trailer-text {
    font-size: 0.9rem; /* Reduce el tamaño del texto */
  }
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid white;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Resto de los estilos (sin cambios) */
.hero-main-container {
  width: 100%;
  height: 100vh;
  position: relative;
  transform: scale(1.25);
  background-image: url("/public/logo_white.svg");
  background-size: 1000vh;
  background-position: 50% 21.7%;
  background-repeat: no-repeat;
  background-origin: content-box;
  padding-bottom: 200px;
}

.hero-main-image {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  object-fit: cover;
}

.hero-main-logo {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: 1;
  object-fit: cover;
}

.hero-text-logo-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: -1;
  object-fit: cover;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero-text-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("/public/gta_logo_purple.webp");
  background-repeat: no-repeat;
  background-position: 50% 21.7%;
  background-size: 28vh;
  background-origin: content-box;
  padding-bottom: 200px;
  height: 100vh;
  position: absolute;
  inset: 0;
}

.hero-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10vh; /* Ajusta según necesidad */
  transform: translateY(10vh); /* Ajusta el valor según necesidad */

}

.scroll-indicator {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 34px;
  height: 14px;
  z-index: 10;
}

.scroll-indicator svg {
  color: #ffb0c4;
  width: 100%;
  height: 100%;
}

.hero-text {
  color: #ffb0c4;
  text-align: center;
  text-transform: uppercase;
  background-image: radial-gradient(circle at 50% 65.397vh, rgb(255, 212, 129) 0vh, rgb(237, 69, 109) 50vh, rgb(123, 34, 102) 90vh, rgba(32, 31, 66, 0) 123.501vh);
  -webkit-text-fill-color: transparent;
  font-size: 8rem !important;
  background-clip: text;
  width: 100%;
  line-height: 0.9;
  margin-top: 25%;
}

@media (min-width: 1024px) {
  .hero-text {
    font-size: 8rem;
  }
}

.hero-2-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  opacity: 0;
  object-fit: cover;
  background-image: radial-gradient(
    circle at 50% 200vh,
    rgba(255, 214, 135, 0) 0,
    rgba(157, 47, 106, 0.5) 90vh,
    rgba(157, 47, 106, 0.8) 120vh,
    rgba(32, 31, 66, 0) 150vh
  );
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  background-clip: text;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.hero-2-container p {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-stretch: expanded;
  font-size: 2.1rem !important;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.04em;
}

.hero-2-container h3 {
  font-size: 4rem !important;
}

@media (min-width: 1024px) {
  .hero-text {
    font-size: 6rem;
  }

  .scroll-indicator {
    bottom: 30px;
  }

  .hero-2-container {
    margin: 0 auto;
    max-width: 70%;
    padding: 0;
  }

  .hero-2-container p {
    max-width: 100%;
    font-size: 2rem;
  }

  .hero-2-container h3 {
    font-size: 3.5rem;
  }
}

.console-logos {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem; /* Espacio entre texto y logos */
  opacity: 0; /* Inicialmente ocultos */
  transition: opacity 0.5s ease;
  color: gray;
  text-align: center;

}

.console-logos svg {
  width: 100px;
  height: auto;
  fill: #ffb0c4;
}

@media (min-width: 1024px) {
  .console-logos svg {
    width: 170px;
  }
}